.nav-fixed{
    background: white !important;
}

.outline-blue:hover{
	background: #0149ad;
	color: white;
}
.bg-blue{
	background: #0149ad;
	color: white;
}

.outline-gray:hover{
	background: #f2f2f2;
	color:black;
}

.outline-red:hover{
	background: #ff1717;
	color: white;
}
.outline-red:hover .menu-item-price h6{
	background: #ff1717;
	color: white;
}

.btn-primary:hover{
	background: #9f091a !important;
	border: 1px solid #002c5f !important;
}

.show{
	background: white;
}

.text-blue{
	color: #0149ad;
}

/*@media only screen and (max-width: 1199px){
	.navbar .navbar-brand {
	    font-size: 17px !important;
	}
}*/